body{
	font-family: Verdana;
	margin: 20px;
	padding: 10px;
	background-color: rgb(250, 229, 211);
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 10px;
	text-align: center;
}
.formal {
	border-style: solid;
	border-color: hsl(24, 100%, 31%);
	padding: 20px;
}
address{
	float: right;
	margin: 20px;
	padding: 20px;
}